div{

	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-top: 16px;
	border-right: 16px;
	border-bottom: 16px;
	border-left: 16px;
	padding-top: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	padding-left: 32px;
}